.footer {
  position: relative;
  height: 500px;
  margin: 0 auto;
  margin-top: 200px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 60px;
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.footer:before {
  content: '';
  background-size: contain;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  position: absolute;
  display: inline-block;
  background-image: url('../images/bg-footer-top-desktop.svg');
  background-position: bottom;
  top: -200px;
}

.footer .logo {
  filter: brightness(100) saturate(0) contrast(100);
}

.footer h3 {
  margin-top: 0;
}

.footer p {
  width: 75%;
}

.footer form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.footer input {
  padding: 10px 15px;
  width: 65%;
  border-radius: 5px;
}

.footer .button-primary {
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 50px;
  box-shadow: none;
}

.footer .fa-phone {
  transform: rotate(90deg);
}

.footer .fa-w-16 {
  margin-right: 10px;
}

.footer .fa-w-14 {
  margin: 50px 15px 0 0;
  font-size: 30px;
  cursor: pointer;
}
.footer-section {
  padding: 0 50px;
}

@media (max-width: 700px) {
  .footer {
    flex-direction: column-reverse;
  }
  .footer-section:first-child {
    margin-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 600px) {
  .footer form {
    align-items: flex-end;
    flex-direction: column;
  }
  .footer .button-primary {
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  .footer {
    padding-top: 100px;
  }
}
@media (max-width: 480px) {
  .footer-section {
    padding: 0 20px;
  }
}
@media (max-width: 400px) {
  .footer input {
    width: 90%;
  }
  .footer p {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .footer-section {
    padding: 0 10px;
  }
  .footer:before {
    background-image: url('../images/bg-footer-top-desktop.svg');
  }
}